// === nextflow.config ===
//nextflow.enable.dsl = 2
// Declare pipeline parameters (equivalent to your config.yaml keys)
params {
    DATA     = ''             // path to input directory
    RESULTS  = ''             // path to output directory
    SAMPLES  = ['sample1']    // list of sample names
    GENOME   = ''             // genome bowtie2 index prefix
    SCRIPTS  = 'code/'        // path to custom scripts
    len      = 130            // trim length threshold
    m_len    = 35             // minimum length after trimming
}

// Define execution profiles for different executors
profiles {
    // default (local execution)
    standard {
        process.executor = 'local'
    }

    // LSF cluster
    lsf {
        process.executor = 'lsf'
        // Additional LSF-specific settings:
        // process.queue = 'normal'
        // process.walltime = '4h'
    }

    // SLURM cluster
    slurm {
        process.executor     = 'slurm'
        process.queue        = '' //partition name
	process.clusterOptions = '--qos=long' //optional if running more samples
        process.time       = '72:00:00'
    }
}

// Optional: set work directory and other global options
// workDir = 'work'
// timeline = true
// report = 'pipeline_report.html'
